﻿<h2>Add new review</h2>

@Html.ActionLink("Go back to list", "Manage", "GameReview")

<!--The action calls the GameReview controller and the Create method within.-->
<form method="POST" action="/GameReview/Create">
    <label>Game:</label>
    <input type="text" name="game">

    <br><label>Review title:</label>
    <input type="text" name="reviewTitle">

    <br><label>Content:</label>
    <input type="text" name="content">

    <br><label>Rating:</label>
    <input type="text" name="rating">

    <br><label>Rating comment:</label>
    <input type="text" name="ratingComment">

    <input type="submit" value="submit">
</form>