﻿<h1>Delete game</h1>

@Html.ActionLink("Go back to Manage", "Manage", "GameReview")

<!--Only input should be delete button-->
<form method="POST" action="/GameReview/Delete">
    <input type="submit" value="submit">
</form>