﻿<h1>Edit game review</h1>

@Html.ActionLink("Back to Manage", "Manage", "GameReview")

<!--Form inputs: Game, reviewTitle, content, rating, ratingComment -->
<form method="POST" action="/GameReview/Edit_it">
    <label>Review title:</label><input type="text" name="reviewTitle" />
    <br><label>Content:</label><input type="text" name="content" />
    <br><label>Rating:</label><input type="text" name="rating" />
    <br><label>Rating comment:</label><input type="text" name="ratingComment" />
    <br><input type="submit" value="submit" />
</form>