﻿<!--CONNECT THE VIEW TO THE MODEL-->
@model IEnumerable<PassionProject.Models.GameReview>


<h1>Manage Game Reviews</h1>

@Html.ActionLink("Go to games", "Manage", "Game")
<br>
@Html.ActionLink("Add new review", "Add", "GameReview")

@foreach (var gamereview in Model)
{
    <h2>@gamereview.reviewTitle</h2>
    <h5>@gamereview.game</h5>
    <p>@Html.ActionLink("Show this review", "Show", "GameReview", new { id = gamereview.Game_review_ID, title = gamereview.reviewTitle }, null)</p>
    <p>@Html.ActionLink("Delete this review", "Delete", "GameReview", new { id = gamereview.Game_review_ID, title = gamereview.reviewTitle }, null)</p>
    <p>@Html.ActionLink("Edit this review", "Edit", "GameReview", new { id = gamereview.Game_review_ID, title = gamereview.reviewTitle }, null)</p>
}