﻿<h2>Add new game</h2>

@Html.ActionLink("Go back to Manage","Manage","Game")
<form method="POST" action="/Game/Create">
    <label>Game title:</label>
    <input type="text" name="gametitle" />

    <br><label>Release Date:</label>
    <input type="text" name="releasedate" />

    <br><label>publisher</label>
    <input type="text" name="publisher" />

    <br><input type="submit" value="submit" />
</form>