﻿<h1>Delete game</h1>

@Html.ActionLink("Go back to Manage", "Manage", "Game")

<!--Form should have fields:
    -->
<form method="POST" action="/Game/Create">
    <p>Delete this game?</p>
    <input type="text" value="submit">
</form>