﻿<h1>Edit</h1>

@Html.ActionLink("Go back to manage", "Manage", "Game")

<!--Inputs: Game title, release date, publisher, submit button-->
<form method="POST" action="/Game/Edit">
    <input type="text" name="gameTitle" />
    <input type="text" name="releaseDate" />
    <input type="text" name="publisher" />
    <input type="submit" value="submit">
</form>