﻿<!--Link the view to the model-->
@model IEnumerable<PassionProject.Models.Game>

<h1>Manage Games</h1>

@Html.ActionLink("Go to game reviews", "Manage", "GameReview")
<br>
@Html.ActionLink("Add new game", "Add", "Game")

@foreach (var game in Model)
{
    //Html.ActionLink("Show this review", "Show", "GameReview")
    //Html.ActionLink("Edit this review", "Edit", "GameReview")
    <h2>@game.GameTitle</h2>
    //Looked at how to use ActionLink here:
    //https://stackoverflow.com/questions/200476/html-actionlink-method
    //Answered by Joseph Kinry on Oct 14 2008 and edited by Graviton in 2015.
    <p>@Html.ActionLink("Delete this game", "Delete", "Game", new { id = game.GameId, title = game.GameTitle }, null)</p>
    //<p>@Html.ActionLink("Edit this game", "Edit", "Game")</p>
    <p>@Html.ActionLink("View game", "Show", "Game", new { id = game.GameId, title = game.GameTitle }, null)</p>
    <p>@game.Publisher</p>
    <p>@game.ReleaseDate</p>
}