﻿@model PassionProject.Models.Game

<h1>Show game</h1>

<p>@Html.ActionLink("Back to Manage", "Manage", "Game")</p>
<p>@Html.ActionLink("Delete", "Delete", "Game")</p>
<!--<p>Html.ActionLink("Edit", "Edit", "Game")</p>-->

<h2>Title: @Model.GameTitle</h2>
<p>Release date: @Model.ReleaseDate</p>
<p>Publisher: @Model.Publisher</p>